input[type="text"] {
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 4px;
    
  }
.chan{
    padding: 12px 14px;
    border-radius: 4px;
    color: black;
}

#title1 {
  font-family: "Comfortaa", cursive;
  font-size: 50px;
  padding-top: 20px;
  color: rgb(31, 37, 109);
}

#subtitle {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  color: rgb(78, 34, 34);
}
